/* 
Created by : irfanaditya
2k19
*/
body {
  margin: 0;
  padding: 0;
}

.hr-table {
  border: 2px solid gray;
  border-radius: 10px;
  margin: 10px 0;
  ;
}

.result_btn {
  margin-left: 84%;
}

/* Table */
tr td,
thead tr th {
  text-align: center;
}

#show_result {
  display: none;
}

.btn-submit,
.btn-cancel {
  margin-left: 200px;
}